<h2 class="page-title">Users</h2>

<button id="create-user-button" mat-button color="primary" (click)="createUser()">Create User</button>

<div class="table-wrapper">
  <mat-table #table mat-table [dataSource]="users">

    <ng-container *ngFor="let header of headers" [matColumnDef]="header">
      <mat-header-cell *matHeaderCellDef>{{header}}</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <ng-container *ngIf="header !== 'actions'">
          {{user[header]}}
        </ng-container>
        <ng-container *ngIf="header === 'actions'">
          <button (click)="delete(user)">Delete</button>
          <button (click)="edit(user)">Edit</button>
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="headers"></mat-header-row>
    <mat-row *matRowDef="let user; columns: headers" [ngClass]="{ 'deleted': user.deleted }"></mat-row>

  </mat-table>
</div>