<h2 class="page-title">Users</h2>

<button id="create-user-button" mat-button mat-stroked-button color="primary" (click)="createUser()">Create User</button>

<div class="table-wrapper">
  <mat-table #table mat-table [dataSource]="users">

    <ng-container *ngFor="let header of headers" [matColumnDef]="header">
      <ng-container [ngSwitch]="header">
        <ng-container *ngSwitchCase="'image'">
          <mat-header-cell *matHeaderCellDef class="narrow-cell">
          </mat-header-cell>  
        </ng-container>
        <ng-container *ngSwitchDefault>
            <mat-header-cell *matHeaderCellDef>
            {{header}}
          </mat-header-cell>
        </ng-container>        
      </ng-container>      
      <ng-container [ngSwitch]="header">
        <ng-container *ngSwitchCase="'actions'">
          <mat-cell *matCellDef="let user">
            <button mat-button (click)="delete(user)">Delete</button>
            <button mat-button (click)="edit(user)">Edit</button>
          </mat-cell>
        </ng-container>
        <ng-container *ngSwitchCase="'image'">
          <mat-cell *matCellDef="let user" class="narrow-cell">
            <img *ngIf="user[header]" class="user-image" width="40" [src]="user[header]" />
          </mat-cell>
        </ng-container>
        <ng-container *ngSwitchCase="'role'">
            <mat-cell *matCellDef="let user">
              {{rolesEnum[user[header]]}}
            </mat-cell>
          </ng-container>
        <ng-container *ngSwitchDefault>
          <mat-cell *matCellDef="let user">
            {{user[header]}}
          </mat-cell>
        </ng-container>
      </ng-container>
    </ng-container>

    <mat-header-row *matHeaderRowDef="headers"></mat-header-row>
    <mat-row *matRowDef="let user; columns: headers" [ngClass]="{ 'deleted': user.deleted }"></mat-row>

  </mat-table>
</div>