<h2 class="page-title">Groups</h2>

<button id="create-group-button" mat-button mat-stroked-button color="primary" (click)="createGroup()">Create group</button>

<div class="table-wrapper">
  <mat-table #table [dataSource]="dataSource" matSort>
            
    <ng-container *ngFor="let header of headers" [matColumnDef]="header">
      <ng-container [ngSwitch]="header">
        <ng-container *ngSwitchCase="'actions'">
          <mat-header-cell *matHeaderCellDef>{{header}}</mat-header-cell>
          <mat-cell *matCellDef="let group">
            <button mat-button (click)="delete(group)">Delete</button>
            <button mat-button (click)="edit(group)">Edit</button>
          </mat-cell>
        </ng-container>
        <ng-container *ngSwitchCase="'image'">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let group">
            <img *ngIf="group[header]" class="group-image" width="40" [src]="group[header]" />
          </mat-cell>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{header}}</mat-header-cell>
          <mat-cell *matCellDef="let group">
            {{group[header]}}
          </mat-cell> 
        </ng-container>
      </ng-container>
    </ng-container>

    <mat-header-row *matHeaderRowDef="headers"></mat-header-row>
    <mat-row *matRowDef="let group; columns: headers" [ngClass]="{ 'deleted': group.deleted }"></mat-row>

  </mat-table>
</div>