@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  margin: 0;
  font-size: 16px;
}

select option {
  font-size: 1.6rem;
}

#app-wrapper {
  max-width: 768px;  
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid #aaa;
  border-radius: 0 0 10px 10px;
  border-top: 0; */
}

#app-title {
  background: lightsteelblue;
  /* padding: 10px; */
  text-align: center !important;
  border-bottom: 1px solid #666;
  height: 43px;
}

#app-title > div {
  max-width: 768px; 
  margin: 0 auto; 
  padding-right: 20px;
  padding-left: 20px;
}

#logout-button {
  float: right;
  color: #336;
  padding-top: 10px; 
  padding-bottom: 10px; 
}

.page-title {
  display: inline-block;
  color: #555;
}